<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>icons</title>

    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 10px 20px;
            text-align: center;
        }
        .preview {
            width: 100px;
            display: inline-block;
            margin: 10px;
        }
        .preview .inner {
            display: inline-block;
            width: 100%;
            text-align: center;
            background: #f5f5f5;
            -webkit-border-radius: 3px 3px 0 0;
            -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
        }
        .preview .inner  {
            line-height: 85px;
            font-size: 40px;
            color: #EE964B;
        }
        .label {
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            font-size: 10px;
            font-family: Monaco, monospace;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #ddd;
            -webkit-border-radius: 0 0 3px 3px;
            -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
            color: #666;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="icons.css" />
</head>
<body>

    <h1>icons</h1>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-account_box"></i>
            </span>
            <br>
            <span class='label'>account_box</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-add"></i>
            </span>
            <br>
            <span class='label'>add</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-alarm"></i>
            </span>
            <br>
            <span class='label'>alarm</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-arrow_back_ios"></i>
            </span>
            <br>
            <span class='label'>arrow_back_ios</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-arrow_drop_down_circle"></i>
            </span>
            <br>
            <span class='label'>arrow_drop_down_circle</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-arrow_forward_ios"></i>
            </span>
            <br>
            <span class='label'>arrow_forward_ios</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-biotech"></i>
            </span>
            <br>
            <span class='label'>biotech</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-calendar_today"></i>
            </span>
            <br>
            <span class='label'>calendar_today</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-Call"></i>
            </span>
            <br>
            <span class='label'>Call</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-cancel"></i>
            </span>
            <br>
            <span class='label'>cancel</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-check_box_outline"></i>
            </span>
            <br>
            <span class='label'>check_box_outline</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-check_box"></i>
            </span>
            <br>
            <span class='label'>check_box</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-chrome_reader_mode"></i>
            </span>
            <br>
            <span class='label'>chrome_reader_mode</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-copy"></i>
            </span>
            <br>
            <span class='label'>copy</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-create"></i>
            </span>
            <br>
            <span class='label'>create</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-delete_forever"></i>
            </span>
            <br>
            <span class='label'>delete_forever</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-domain"></i>
            </span>
            <br>
            <span class='label'>domain</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-download"></i>
            </span>
            <br>
            <span class='label'>download</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-drag_indicator"></i>
            </span>
            <br>
            <span class='label'>drag_indicator</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-east"></i>
            </span>
            <br>
            <span class='label'>east</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-exam"></i>
            </span>
            <br>
            <span class='label'>exam</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-female"></i>
            </span>
            <br>
            <span class='label'>female</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-filter_center_focus"></i>
            </span>
            <br>
            <span class='label'>filter_center_focus</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-filter"></i>
            </span>
            <br>
            <span class='label'>filter</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-first_page"></i>
            </span>
            <br>
            <span class='label'>first_page</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-folder"></i>
            </span>
            <br>
            <span class='label'>folder</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-grade"></i>
            </span>
            <br>
            <span class='label'>grade</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-Group-5"></i>
            </span>
            <br>
            <span class='label'>Group-5</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-Group-6"></i>
            </span>
            <br>
            <span class='label'>Group-6</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-Group-7"></i>
            </span>
            <br>
            <span class='label'>Group-7</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-group"></i>
            </span>
            <br>
            <span class='label'>group</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-help_outline"></i>
            </span>
            <br>
            <span class='label'>help_outline</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-home_work"></i>
            </span>
            <br>
            <span class='label'>home_work</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-home"></i>
            </span>
            <br>
            <span class='label'>home</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-info"></i>
            </span>
            <br>
            <span class='label'>info</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-lab"></i>
            </span>
            <br>
            <span class='label'>lab</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-last_page"></i>
            </span>
            <br>
            <span class='label'>last_page</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-lecturer"></i>
            </span>
            <br>
            <span class='label'>lecturer</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-mail"></i>
            </span>
            <br>
            <span class='label'>mail</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-male"></i>
            </span>
            <br>
            <span class='label'>male</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-menu_collapse"></i>
            </span>
            <br>
            <span class='label'>menu_collapse</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-menu_open"></i>
            </span>
            <br>
            <span class='label'>menu_open</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-more_horizontal"></i>
            </span>
            <br>
            <span class='label'>more_horizontal</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-ondemand_video"></i>
            </span>
            <br>
            <span class='label'>ondemand_video</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-person_add"></i>
            </span>
            <br>
            <span class='label'>person_add</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-publish"></i>
            </span>
            <br>
            <span class='label'>publish</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-quiz"></i>
            </span>
            <br>
            <span class='label'>quiz</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-radio_button_unchecked"></i>
            </span>
            <br>
            <span class='label'>radio_button_unchecked</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-remove_circle_outline"></i>
            </span>
            <br>
            <span class='label'>remove_circle_outline</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-report_problem"></i>
            </span>
            <br>
            <span class='label'>report_problem</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-review"></i>
            </span>
            <br>
            <span class='label'>review</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-role"></i>
            </span>
            <br>
            <span class='label'>role</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-school"></i>
            </span>
            <br>
            <span class='label'>school</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-search"></i>
            </span>
            <br>
            <span class='label'>search</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-setting"></i>
            </span>
            <br>
            <span class='label'>setting</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-sort"></i>
            </span>
            <br>
            <span class='label'>sort</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-supplier"></i>
            </span>
            <br>
            <span class='label'>supplier</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-toggle_off"></i>
            </span>
            <br>
            <span class='label'>toggle_off</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-upload"></i>
            </span>
            <br>
            <span class='label'>upload</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-verified_user"></i>
            </span>
            <br>
            <span class='label'>verified_user</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-visibility_off"></i>
            </span>
            <br>
            <span class='label'>visibility_off</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-visibility"></i>
            </span>
            <br>
            <span class='label'>visibility</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-Warning-logo"></i>
            </span>
            <br>
            <span class='label'>Warning-logo</span>
        </div>


        <div class="preview">
            <span class="inner">
                <i class="icon icon-workshop"></i>
            </span>
            <br>
            <span class='label'>workshop</span>
        </div>


</body>
</html>
